In [4]:
#variables,expressions and statements
#question no 1
#write a program that uses input to prompt a user for their name and then welcomes them.
name=input("enter your name:")
new_num= "Hello " + name
print(new_num)

enter your name:chuck
Hello chuck

In [61]:
#question no 2
#write a program to prompt a user for hours and rate per hour to compute gross pay.
hours=int(input("enter your hour:"))
rate=float(input("enter your rate:"))
pay=hours*rate
print(pay)

enter your hour:35
enter your rate:2.75
96.25

In [5]:
#question no 3
#asume that we execute the following assignment statements:
#width=17, height= 12.0
#for each of the following expressions,write the value of the expression and the type(of the value of the expression)
width=17
height=12.0
a=width//2
print(a)
print(type(a))
a=width/2.0
print(a)
print(type(a))
b=height/3
print(b)
print(type(b))
c=1+2*5
print(c)
print(type(c))

8
<class 'int'>
8.5
<class 'float'>
4.0
<class 'float'>
11
<class 'int'>

In [15]:
#question no 4
#write a program which prompts the user for a celsius temp,convert the temp to fahrenheit,print 
#out the converted temp.
Celsius=int(input("enter your temperature"))
fahrenheit=(Celsius*1.8)+32
print("your temperature is: ", fahrenheit)

enter your temperature37
your temperature is:  98.60000000000001

In [36]:
#question no 5
#write a program to find if a given number is a perfect square or not.
number = int(input("Enter the Number"))
print("your number is:",number)
root=(number)**2
print(root)
if(root+0.5)**2==number:
    print(number, "is a perfect square")
else:
    print(number, "is not a perfect square")

Enter the Number27
your number is: 27
729
27 is not a perfect square

In [16]:
#question no 6
#write python statement to calculate and print the simple profit .
actual_cost=float(input("enter your actual cost:"))
sale_amount=float(input("enter your sale amount:"))

if (sale_amount - actual_cost)<0: # if sale is less than the cost then we are in loss
    amount = actual_cost - sale_amount # calculating the loss
    print("total loss amount=",format(amount))
    
elif (sale_amount - actual_cost)>0: # if sale is more than the cost then we are in profit
    amount = sale_amount - actual_cost # calculating the profit
    print("total profit amount=",format(amount))
    
else:
    print("no loss no profit")

enter your actual cost:500
enter your sale amount:250
total loss amount= 250.0

In [8]:
d = [33,77,78,98,45]
sum(d)

331

In [8]:
#question no 7
#write python statement to create 2 compex objects and print the sum,diff,product.
data=10j
new_data=7j

my_sum = data + new_data
print(my_sum)

difference= data - new_data
print(difference)

product= data * new_data
print(product)

17j
3j
(-70+0j)

In [42]:
#question no 8
#write python statements to accept a string from the user and print it in title case.
string=input("enter your data:")
string.title()

enter your data:python for beginners

'Python For Beginners'

In [47]:
#strings
#question no 1
str_ = "X-DSPAM-Confidence:0.8475"
# now slicing the string to get last 6 digits
g = str_[-6:] 
print(g)
print(type(g))

a = float(g)
print(type(a))
a + 5

0.8475
<class 'str'>
<class 'float'>

5.8475

In [19]:
#question no 2
#split the string
my_str="Welcome to the Course on Data Science."
my_str.split()

['Welcome', 'to', 'the', 'Course', 'on', 'Data', 'Science.']

In [20]:
#print only first 10 letters
my_str="Welcome to the Course on Data Science."
my_str[0:11]

'Welcome to '

In [26]:
#make a new string from this, such that it has only these words "welcome Science"
my_str="Welcome to the Course on Data Science."
new_str= my_str[0:7] +  my_str[-9:]
print(new_str)

Welcome Science.

In [29]:
#question no 3
#calculate num of occurences of a given character in any given string.
data="Python for Beginners"
data.count("n")

3

In [34]:
#question no 4
#count num of occurences of each word in a given string.
data="Python for Beginners"
data.count("Python")

1

In [31]:
data.count("for")

1

In [33]:
data.count("Beginners")

1

In [48]:
#list
#question no 1
#make a modify it by reomving first and last elements. then make a list called middle that contains all except the fist and last element.
list_=["maha", "sajal", "ayesha"]
list_.remove("maha")
list_.remove("ayesha")
print(list_)
middle=list_
print(middle)

['sajal']
['sajal']

In [49]:
#question no 2
#create a list of some text and find the unique words in it.
data = ["python","language", "for","beginners", "for","beginners", "for","beginners"]
unique_data = set(data)
print(unique_data)

{'for', 'python', 'beginners', 'language'}

In [58]:
#question no 3
#write a program to add items in a list
data=["apple","cherry","grapes"]
data1=["strawberry", "mango" ,"peach"]
new_list=data + data1
print(new_list)

['apple', 'cherry', 'grapes', 'strawberry', 'mango', 'peach']

In [55]:
data = []

In [57]:
d = input('please add an item: ')
data.append(d)

please add an item: strawberry

In [58]:
data

['apple', 'strawberry']

In [9]:
#question no4
#write a program to get the largest and smallest number in list.
data=[12,56,43,87,11]
print(max(data))
print(min(data))

87
11

In [9]:
#question no 5
#write a program to remove duplicates from list.
list1=[12,67,98,67,45,12,98]
duplicate_items=set(list1)

# for x in list: 
#     if x not in duplicate_items:
#         duplicate_items.add(x)
    
print(duplicate_items)
print(list1)

{98, 67, 12, 45}
[12, 67, 98, 67, 45, 12, 98]

In [61]:
list1=[12,67,98,67,45,12,98]
duplicate_items= []

for x in list1: 
    if x not in duplicate_items:
        duplicate_items.append(x)
    
print(duplicate_items)
print(list1)

[12, 67, 98, 45]
[12, 67, 98, 67, 45, 12, 98]

In [77]:
#question no 6
#write a program that prints whether atleast one num of the given two lists are same
a=[1,3,6,8,9]
b=[2,4,5,8,7]
dup_list=[]
for num in a:
    if num in b:
        dup_list.append(num)
print(dup_list)

[8]

In [73]:
#question no7
#write a program to convert a list of characters into string.
import time

a=['p','y','t','h','o','n']
joined = ''
for char in a:
    joined = joined + char
#     time.sleep(2)
print(joined)

python

In [78]:
#question no 8
#write a program to check whether two lists are identical.
a=[67,10,45,12]
b=[67,10,45,12]
if a==b:
    print("identical")
else:
    print("not identical")

identical

In [2]:
#question no 9
#write a program to print unique values from list.
a=["python","for","beginners","python","for"]
b=set(a)
print(b)

{'for', 'python', 'beginners'}

In [81]:
#question no 10
#write a program to print the num of occurences of each element in a list.
data=["sajal","ayesha","sajal","alishba","ayesha"]
data.count("sajal")

2

In [82]:
data.count("ayesha")

2

In [83]:
data.count("alishba")

1

In [2]:
#question no 11
#write a program to find sub-list in a list of lists whose sum is the heighest.
number=[[12,56],[79,11]]
print(max(number,key=sum))

[79, 11]

In [80]:
#question no 11
#write a program to find sub-list in a list of lists whose sum is the heighest.

number=[[12,56],[79,11]]

highest_sum = 0
highest_list = 0

for i in range(len(number)): 
    if sum(number[i])>highest_sum: # agar number mai i ka sum highest num se zyada ho to highest list ko equal to i
        highest_list = i
        highest_sum = sum(number[i])

print(number[highest_list])

[79, 11]

In [8]:
#question no 12
#write a program to insert a given string at the beginning of all strings in list

L = ["maha","ayesha","gull"]
data = input("plz insert the string to be attached: ")

for i in range(len(L)):
    L[i] = data+L[i]

print(L)

plz insert the string to be attached: sajal
['sajalmaha', 'sajalayesha', 'sajalgull']

In [9]:
#question13
#write a program to convert a string to list of characters.

a = "sajal"
print(type(a))
b=[a]
print(b)
print(type(b))
print(b)

<class 'str'>
['sajal']
<class 'list'>
['sajal']

In [10]:
a= "sajal"
print(type(a))
b= []
# for i in a:
#     b = b + [i] # merging two lists
#     print(b)
#     print(type(b))


for i in a:
    b.append(i)
print(b)

<class 'str'>
['s', 'a', 'j', 'a', 'l']

In [18]:
#question no14
#write a program to concatenate elements of list with corrosponding.

data = [12,45,98,77]
# for i in data:
#     print(i,end="")


catenated = ''
for number in data:
    number = str(number)
    catenated = catenated + number
    print(catenated)

12
1245
124598
12459877

In [26]:
l = [10,11,12,13,14,15]
l[0:4:2]

[10, 12]

In [34]:
#question no 15
#write a program to split a list every n-th element to obtain a list of lists.

lst = ["a","b","c","d","e","f","g","h","i","j","k","l","m", "n", "o", "p"]

s = []
inner_list = []

for element in lst:    
    inner_list.append(element)
    if len(inner_list)==4:
        s.append(inner_list)
        inner_list = []

print(s)

[['a', 'b', 'c', 'd'], ['e', 'f', 'g', 'h'], ['i', 'j', 'k', 'l'], ['m', 'n', 'o', 'p']]

In [7]:
#question no 16
#write a program to convert a list of multiple integers into one single integers.thus,the 
#list[25,12,2] should get converted to the number 25122.

lst = [25,12,2]
# for i in lst:
#     print(i,end="")

n = ''
for num in lst:
    num = str(num)
    n = n+num

print(type(n))
print(n)
n = int(n)
print(type(n))
print(n)

<class 'str'>
25122
<class 'int'>
12561.0

In [9]:
#tuples
#question no 1
#write a program to convert a tuple of values into a tuple of singleton tuples of values.
#thus,(1,2,3)
#should get converted to ((1,),(2,),(3,)).

a = (1,2,3)
tup = (a[0:1],a[1:2],a[2:])
print(tup)

((1,), (2,), (3,))

In [9]:
#tuples
#question no 2
#write a program to count the numb of elements in list until it finds a tuple in the list.

data = [1,67,(34,50),88]
for i in data:
    if type(i)==tuple: # i ki type agr tuple h to print krdengy jis index pr wo tuple hogi
        print(data.index(i))

2

In [24]:
#question no 3
#write a program to add corrosponding elements of two given tuples,giving rise to a new tuple.

tup1 = (2,4,6)
tup2 = (1,3,5)
sum1 = (tup1[0]+tup2[0]),(tup1[1]+tup2[1]),(tup1[2]+tup2[2])
print(sum1)

(3, 7, 11)

In [21]:
#question no 4
#write a program to multiply each element of a given tuple with a given integer,giving rise to new tuple.

data = [11,95,44]
data1 = (data[0]*3),(data[1]*3),(data[2]*3)
print(data1)

(33, 285, 132)

In [11]:
#sets
#question no 1
#add few unique num in set and use "in" operator to search for an element.

set_ = [1,2,3,4,5,12,45]
for num in set_:
    if num == 12:
        print(num)

12

In [13]:
#question no 2
#write a program to convert a list of integers into list of unique integers using sets.

listx = [234,56,95,95]
unique_integers= set(listx)
print(unique_integers)

{56, 234, 95}

In [19]:
#question no 3
#assume that we have only two lists,each having only IP adressess as its contents.
#write a program to determine if the 2 lists have same IP adressess in most optional manner.

a = float(input("enter your IP address:"))
b = float(input("enter your IP address:"))
if a == b:
    print("same")
else:
    print("not same")

print(a)
print(b)

enter your IP address:72.234
enter your IP address:72.234
same
72.234
72.234

In [11]:
#dictionary
#question no 1
#prepare a dictionary that has roll num as keys and marks as values. print all keys.
#print all values.Get 2 different values using their keys.

d = {"roll_num":{"marks":77}}
d["roll_num"].keys()

dict_keys(['marks'])

In [12]:
d.keys()

dict_keys(['roll_num'])

In [16]:
d["roll_num"]["marks"]

77

In [22]:
roll_num = int(input("enter your roll num:"))
marks = int(input("enter your marks:"))

enter your roll num:5
enter your marks:35

In [ ]:
roll_num = int(input("enter your roll num:"))
d = {roll_num:{marks:(int(input("enter your marks:")))}}
d["roll_num"]["marks"]

In [10]:
#question no 2:

# a shop has following commodities with its inventory maintained in a dictionary:
# and its price in another dictionary
# accept the number of items for each commodity sold from standard input and at 
# the end do the following:
# evaluate the income made by the shop owner
# if user enters a commodity that is not available in shop,display appropriate message
# if user enters a quantity that is beyond the available limit,display the size of inventory.
# display the inventory available.

1- selling
2- income made
3- if no commodity : tell the user
4- if num-of-items more than available : tell the user & display the inventory size

In [11]:
comm={"chair":10,"table":22,"sofa-set":2,"tv-unit":0,"fan":10,
      "table-lamp":0,"iron-box":0,"bed":30}
price={"chair":2365,"table":37752,"sofa-set":23299,"tv-unit":120344,"bed":40226}

money_made = 0

while True:
    data = input("What do you want to buy? or enter done for exit: ")
    
    if data=='done':
        print('Thank you for shopping.')
        break
    
    # check whether the item is in the inventory or not
    if data in comm.keys():
        print(data+' is available for sale')
        
        # asking for quantity needed
        quantity = input(f'''Please enter the quantity for {data}: ''')
        quantity = int(quantity)
        
        # checking whether we have this many items available for sale in the inventory
        if comm[data] >= quantity: #available is more than asked for
            # selling: cash = price*quantity; inventory update
            # cash
            item_price = price[data]
            cash = item_price * quantity
            money_made = money_made + cash
            # inventory update
            comm[data] = comm[data] - quantity
            
        else:
            print('sorry, {} {} are not available. Only {} are available'.format(quantity, data, comm[data]))
        
    else:
        print('sorry, we do not sell this item. Try something else.')

What do you want to buy? or enter done for exit: chair
chair is available for sale
Please enter the quantity for chair: 1
What do you want to buy? or enter done for exit: done
Thank you for shopping.

In [35]:
comm = {"chair":10,"table":22,"sofa-set":2,"tv-unit":0,"fan":10,
      "table-lamp":0,"iron-box":0,"bed":30}
price = {"chair":2365,"table":37752,"sofa-set":23299,"tv-unit":120344,"bed":40226}

bill = dict()

while True:
    data = input("What do you want to buy? or enter done for exit: ")
    
    if data=='done':
        grand_total = 0
        print('Your bill is: ')
        print('----------------------------------------------------------------')
        print('item            unit price           quantity              total')
        print('----------------------------------------------------------------')
        for key in bill.keys():
            grand_total = grand_total + (price[key]*bill[key]) # total price for each item added to the grand_total
            
            print(key+'            '+ str(price[key]) +'                   '+ str(bill[key]) +'                  '+ str(price[key]*bill[key]))
        
        print('----------------------------------------------------------------')
        print('                                                   total: ',grand_total)
        break
    
    # check whether the item is in the inventory or not
    if data in comm.keys():
        print(data+' is available for sale')
        
        # asking for quantity needed
        quantity = input(f'''Please enter the quantity for {data}: ''')
        quantity = int(quantity)
        
        # checking whether we have this many items available for sale in the inventory
        if comm[data] >= quantity: #available is more than asked for
            # adding item to the bill
            if data in bill.keys(): # if this item is already purchased then add to the existing quantity
                bill[data] = bill[data] + quantity
            else: # otherwise create a new key-value pair
                bill[data] = quantity
            # inventory update
            comm[data] = comm[data] - quantity
            
        else:
            print('sorry, {} {} are not available. Only {} are available'.format(quantity, data, comm[data]))
        
    else:
        print('sorry, we do not sell this item. Try something else.')

What do you want to buy? or enter done for exit: chair
chair is available for sale
Please enter the quantity for chair: 2
What do you want to buy? or enter done for exit: chair
chair is available for sale
Please enter the quantity for chair: 2
What do you want to buy? or enter done for exit: done
Your bill is:
----------------------------------------------------------------
item            unit price           quantity              total
----------------------------------------------------------------
chair            2365                   4                  9460
----------------------------------------------------------------
                                                   total:  9460