In [1]:
a=[25,36,12,12]
b=[1]
c=[2,3]

if a==b:
    print("equality")
elif a>b:
    print("a is greater than b")
else:
    a<b
    print("a is less than b")

a is greater than b

In [3]:
a=[1]
b=[1,25,36,12,12]
c=[1,2,3]

if a[0] in b:
    print("yes")
    if a[0] in c:
        print("True")
else:
    print("No")

yes
True

In [4]:
a=[1]
b=[25,36,12,12]
c=[2,3]

if a[0] in b:
    print("yes")
    if a[0] in c:
        print("True")
else:
    print("No")

No

In [8]:
a=[1]
b=[25,36,12,12]
c=[1,2,3]
if a[0] in c:
    print("yes")
    if a[0] in b:
        print("True")

yes

In [9]:
# for loop
fruits=["apple","banana","cherry"]
for items in fruits:
    print(items)

apple
banana
cherry

In [10]:
# for loop
fruits=["apple","banana","cherry"]
for items in "cherry":
    print(items)

c
h
e
r
r
y

In [8]:
data=[1,2,3]
for item in data:
    print(item)

1
2
3

In [12]:
data=[1,2,3]
new_list=[]
for item in data:
    print(item)
    new_num=item +1
    print(new_num)
    new_list.append(new_num)
    print(new_list)

1
2
[2]
2
3
[2, 3]
3
4
[2, 3, 4]

In [9]:
data=["rafhan","javeria","junaid","sajal","hamza","sumbal"]
position=0
males=[]
females=[]
for name in data:
    position=position + 1
    print(position)

1
2
3
4
5
6

In [20]:
data=[13.44,666.66,454,5454,54,34,543,345,33,4543,345,33,2223,3534]
position=1
for x in data:
    if position%3==0:
        print(position)
        print(x)
        
    position=position+1

3
454
6
34
9
33
12
33

In [24]:
data=[13.44,666.66,454,5454,54,34,543,345,33,4543,345,33,2223,3534]
position=1
for item in data:
    if position==3:
        print(item)
        position=0
    position=position+1

454
34
33
33

In [22]:
# for loop
fruits=["apple","banana","cherry"]
for item in "cherry":
    print(item.end=" ")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_1184/1592568128.py, line 4)

In [18]:
# for loop
fruits=["apple","banana","cherry","Avocado"]
for items in fruits:
    if items=="cherry":
       break
    print(items)

apple
banana

In [19]:
# for loop
fruits=["apple","banana","cherry","Avocado"]
for items in fruits:
    if items=="cherry":
       continue
    print(items)

apple
banana
Avocado

In [23]:
name=["Javeria","Noor","Arsalan","Sajal","Hasnain","Ahmad"]
for b_com_ke_bachy in name:
    if b_com_ke_bachy=="Noor":
        print("Nikal diya")
        continue
    print(b_com_ke_bachy)

Javeria
Nikal diya
Arsalan
Sajal
Hasnain
Ahmad

In [24]:
name=["Javeria","Noor","Arsalan","Sajal","Hasnain","Ahmad"]
for b_com_ke_bachy in name:
    if b_com_ke_bachy=="Noor":
        print("Nikal diya")
        break
    print(b_com_ke_bachy)

Javeria
Nikal diya

In [25]:
name=["Javeria","Noor","Arsalan","Sajal","Hasnain","Sajal","Ahmad"]
for b_com_ke_bachy in name:
    if b_com_ke_bachy=="Sajal":
        print("Nikal diya")
        continue
    print(b_com_ke_bachy)

Javeria
Noor
Arsalan
Nikal diya
Hasnain
Nikal diya
Ahmad

In [26]:
name=["Javeria","Noor","Arsalan","Sajal","Hasnain","Sajal","Ahmad"]
for b_com_ke_bachy in name:
    if b_com_ke_bachy=="Sajal":
        print("Nikal diya")
        break
    print(b_com_ke_bachy)

Javeria
Noor
Arsalan
Nikal diya

In [ ]:
task=["class","b,com","I.com","blockchain","A.I"]
# First you have break in "I.com" string
# secondly you have to continue with "b.com" string 
# if "blockchain" string found in a list print "yes"

In [52]:
task=["class","b.com","I.com","blockchain","A.I"]
for data in task:
    if data=="I.com":
        break
    print(data)

class
b.com

In [51]:
task=["class","b.com","I.com","blockchain","A.I"]
for data in task:
    if data=="b.com":
        continue
    print(data)

class
I.com
blockchain
A.I

In [50]:
task=["class","b.com","I.com","blockchain","A.I"]
for classes in "blockchain":
    print("Yes")
    break

Yes

In [56]:
#for range()
num=[12,5,9,36,2,1]
for integers in range(len(num)):
    print(integers)

0
1
2
3
4
5

In [17]:
data=[13.44,666.66,454,5454,54,34,543,33,4543,345,33,2223,3534]
n=len(data)
for x in range(n):
    if x%2==0:
        print(data[x])

13.44
454
54
543
4543
33
3534

In [59]:
user_se_input_lety_hain=int(input("Enter any number:"))
for integers in range(0,user_se_input_lety_hain+1,14):
    print(integers)

Enter any number:140
0
14
28
42
56
70
84
98
112
126
140

In [61]:
# you have to ask a user to enter number and step upto 3 number
user_se_input_lety_hain=int(input("Enter any number:"))
for integers in range(0,user_se_input_lety_hain+1,3):
    print(integers)

Enter any number:30
0
3
6
9
12
15
18
21
24
27
30

In [97]:
# you have to ask a user to enter number and also ask user to enter step
user_se_input_lety_hain=int(input("Enter any number:"))
user_se_input_lety_hain_1=int(input("Enter any step:"))
for integers in range(0,user_se_input_lety_hain+1,user_se_input_lety_hain_1):
    print(integers)

Enter any number:20
Enter any step:2
0
2
4
6
8
10
12
14
16
18
20

In [102]:
while True:
    name=input("enter your name:")
    for i in name:
        if name=="bs karen":
            print("thek hai g")
            break

enter your name:mahnoor
enter your name:sajal
enter your name:bs karen
thek hai g

KeyboardInterrupt: Interrupted by user

In [107]:
while True:
    name=input("enter your name")
    marks=float(input("enter your number:"))
    if marks==0.0:
        print ("Thank you! Come again next time")
        break
    elif marks>=90 and marks<=100:
            print(f"congrats! {name} you are pass with A+")
    elif marks>=80 and marks<=90:
        print(f"congrats! {name} you are pass with A")
    elif marks>=60 and marks<=80:
        print(f"congrats! {name} you are pass with B")    
    elif marks>=40 and marks<=60:
        print(f"congrats! {name} you are pass with C") 
    else:
        print(f"oops! {name} you are fail with F")

enter your namesajal
enter your number:100
congrats! sajal you are pass with A+
enter your namemahnoor
enter your number:0.0
Thank you! Come again next time

In [ ]:
#ask a user enter name,age,height,weight,married and unmarried
# if age is greater than 40 and married and height 5.5 than you are selected
# if age is less than 40 and height 5.7 than you are also selected
# if age is less than 20 and height 5.3 than you are not selected

In [18]:
name=input("enter your name : ")
age=int(input("enter your age:"))
height=float(input("enter your height:"))
weight=int(input("enter your weight:"))
marital_status=input("enter your marital status")
if age>=40 and marital_status=="married" and height>=5.4 and height<=5.6:
    print("marriage person is selected")
elif age<=40 and height>=4.9 and height<=5.3 and weight>=60 and weight<=70:
    print("young person is selected")
elif age>=20 and height>=4.8 and weight>=50:
    print("you are not selected")

enter your name : sajal
enter your age:40
enter your height:5.5
enter your weight:65
enter your marital statusmarried
you want to stop? Yes/Noyes
marriage person is selected

In [20]:
a=[1,2,3,4,5,6,7]
for har_aik in a:
    print(har_aik)

1
2
3
4
5
6
7

In [21]:
a=[1,2,3,4,5,6,7]
for har_aik in a:
    pass

In [22]:
a=[1,2,3,4,5,6,7]
for har_aik in a:
    print(har_aik,end=" ")

1 2 3 4 5 6 7

In [27]:
a=[1,2,3,4,5,6,7]
class1=[]
for har_aik in a:
    class1.append(har_aik)
print(class1)
print(a)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [45]:
#functions
def my_fun(x): #x is argument
    print("I am a new function")
    print(f"Hello {x}")

In [46]:
my_fun("Friends")
my_fun("Alishba")

I am a new function
Hello Friends
I am a new function
Hello Alishba

In [47]:
def double_parameter(x,y,z):
    print(f"Hi {x}, My name is {y} and my age is {z}")

In [48]:
double_parameter("Mahnoor","Sajal","20")

Hi Mahnoor, My name is Sajal and my age is 20

In [49]:
def Hi_Sajalayy(Sajal):
    print(Sajal+ "Sajalayy")

In [50]:
Hi_Sajalayy("My Nick name is ")
Hi_Sajalayy("Family calls me ")
Hi_Sajalayy("My Friend calls me ")

My Nick name is Sajalayy
Family calls me Sajalayy
My Friend calls me Sajalayy

In [61]:
def Hi_Mahi(Mahi,Mahnoor,Commando):
    print(Mahi + "shokhi")
    print(Mahnoor + "kamchor")
    print(Commando + "Psycho")

In [62]:
Hi_Mahi("her nick name is ","Family calls her ","her Friends calls her ")

her nick name is shokhi
Family calls her kamchor
her Friends calls her Psycho

In [68]:
def Naya_Pakistan(Shehbaz_Sharif,Imran_Khan):
    print(f"Shehbaz sharif khta h:{Shehbaz_Sharif} Captain said:{Imran_Khan} ")

In [69]:
Naya_Pakistan("Vote ko izzat do","Apny ghabrana nahi h")

Shehbaz sharif khta h:Vote ko izzat do Captain said:Apny ghabrana nahi h

In [70]:
# make a new function pass 2 arguments and print it 
# make a new function pass atleast 3 arguments and add them
# make aa new function called my_fun()

In [82]:
def new_fun(x,y):
    print(f"Hello {x} and How are you {y}")

In [84]:
new_fun("sajal " , " sis ")

Hello sajal  and How are you  sis

In [91]:
def Miss_Mahnoor(x,y,z):
    print("Her name is " + x,", and her hobby is " + y ," and her skills is " + z)

In [92]:
Miss_Mahnoor("mahnoor","reading","understanding concepts")

Her name is mahnoor , and her hobby is reading  and her skills is understanding concepts

In [85]:
def sum_val(x,y):
    return x+y

In [86]:
sum_val(53,36)

89

In [8]:
def my_fun(*smart):
    return f"The smart student in my class is " + smart[3]

In [9]:
my_fun("Javeria","Rubab","Sumbal","Sajal","Ejaz","Akash","Hasnain","Arslan")

'The smart student in my class is Sajal'

In [10]:
def my_func(): #how to create a function
    pass

In [12]:
# how to call a function 
my_func()

In [13]:
#positional arguments
#keyword arguments

In [16]:
def my_new(x,y):
    return f"my first day at {x} was so {y}"

In [18]:
my_new(y="Good",x="College")

'my first day at College was so Good'

In [19]:
def my_function(child3,child2,child1):
    print("The youngest child is " + child3)
    
my_function(child1="Sajal", child2="Mahnoor", child3="Maha")

The youngest child is Maha

In [20]:
def my_function(child3,child2,child1):
    return f"The youngest child is {child3}"
    
my_function(child1="Sajal", child2="Mahnoor", child3="Maha")

'The youngest child is Maha'

In [23]:
def sum_value(x,y):
    return x+y

In [24]:
sum_value(6,66)

72

In [27]:
def sum_value(x):
    return x**6

In [29]:
print(sum_value(2))
print(sum_value(9))

64
531441

In [5]:
# globally declare krna 
x=[12,36,12]
def product(x):
    print("The product of list is " , x)

In [7]:
product(x)

The product of list is  [12, 36, 12]

In [38]:
x=int(input("Enter  1st number: "))
y=int(input("enter 2nd number: "))
def product(x,y):
    print("The product of two num is: ",x*y)
    print("The sum of two num is: ",x+y)
    print("The remainder of two num is: ",x%y)
    print("The square of two num is: ",x**y)

Enter  1st number: 34
enter 2nd number: 4

In [39]:
product(x,y)

The product of two num is:  136
The sum of two num is:  38
The remainder of two num is:  2
The square of two num is:  1336336

In [10]:
data=[13.44,666.66,454,5454,54,34,543,345,33,4543,345,33,2223,3534]
for num in data:
    print(num)

13.44
666.66
454
5454
54
34
543
345
33
4543
345
33
2223
3534